*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --clr-primary: #f70058;
  --clr-dark: #0c0e36;
  --clr-light: #fff;
  --clr-normal: 400;
  --fw-bold: 700;
  --fw-black: 900;
  --grid: 1fr;
}

body {
  margin: 0;
  font-family: "Work Sans", sans-serif;
  font-size: 1.125rem;
  color: var(--clr-dark);
  line-height: 1.6;
  background: #ccc;
}

header {
  background-color: var(--clr-light);
  text-align: center;
}

.log {
  margin-top: 1em;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 1em;

  list-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: var(--fw-bold);
  letter-spacing: 1px;
}

.nav__link {
  text-decoration: none;
  color: inherit;
}

.weather {
  display: grid;
  grid-template-columns: min-content 1fr;
  background: var(--clr-dark);
  color: var(--clr-light);
}

.weather__icon {
  grid-row: span 2;
  background-color: var(--clr-primary);
  padding: 0.5em;
  display: flex;
}

.weather__info {
  margin: 0;
  margin-left: 0.75em;
  text-align: left;
  opacity: 0.5;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.weather__info:first-of-type {
  margin-top: 0.5em;
}

.weather__info:last-of-type {
  margin-bottom: 0.5em;
}
